{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": ["jest", "github", "@typescript-eslint"],
  "extends": [
    "plugin:github/recommended",
    "plugin:github/typescript",
    "plugin:@typescript-eslint/strict"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/consistent-type-exports": ["error"],
    "@typescript-eslint/consistent-type-imports": ["error"]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["error"],
        "@typescript-eslint/explicit-member-accessibility": ["error"],
        "@typescript-eslint/member-delimiter-style": ["error"],
        "@typescript-eslint/method-signature-style": ["error"],
        "@typescript-eslint/no-confusing-void-expression": ["error"],
        "@typescript-eslint/prefer-readonly-parameter-types": ["error"]
      }
    }
  ]
}
